body {
  font-family: Arial;
  text-align: center;
  background: #2196F3;
  color: white;
}

.quiz-container {
  background: white;
  color: black;
  padding: 20px;
  margin: 50px auto;
  width: 300px;
  border-radius: 10px;
}

button {
  margin: 5px;
  padding: 10px;
  cursor: pointer;
}
